/*<!-- Google Fonts -->*/

html {
    font-size: 100%; /* Sets the base font size to 100%, which typically means 16 pixels (16px) by default in most browsers */
    box-sizing: border-box; /* Ensures that the width and height of an element include its padding and border, but not its margin */
}

*, *::before, *::after {
    box-sizing: inherit; /* Inherit the box-sizing property from the parent element, making sure all elements and their pseudo-elements behave consistently */
}

body {
    margin: 0;
    padding: 0;
    font-family: var(--font-inter);
    background: var(--background);
    color: var(--text-color);
}

.visually-hidden {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
  }