#map-container {
    background-color: goldenrod;
}

#map {
    position: relative;
    border-radius: 5px;
    height: 100vh;
    width: 100%;  /* This means "100% of the width of its container", the .col-md-10 */
    
}
