/* Shared Slider Styles */
#slider-container {
  display: flex;
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: var(--card-bg);
  z-index: 1500;
}

#slider3,
#slider2,
#filter-options {
  flex: 1;
  position: relative;
  max-width: 600px;
  margin: 0;
  padding: 0 80px;
}

/* Range Slider Styles */
#slider-container .rangeSlider {
  z-index: 2000;
  --range-slider: #b1b2b3;
  --handle-border: var(--handle);
  --range-inactive: var(--handle-focus);
  --range: var(--handle-focus);
  --float-inactive: var(--handle-focus);
  --float: var(--handle-focus);
  --float-text: rgb(0, 0, 0);
  --pip-active: rgb(0, 0, 0);
  --pip-active-text: var(--pip-active);

  --handle1: #00cfff;
  --handle2: #3edd8b;
  --handle3: #ff2b66;
  --handle4: #f5d556;
}

/* Slider Handle Color Overrides */
.rangeSlider .rangeHandle {
  --handle-focus: var(--handle);
  --handle-inactive: var(--handle);
  --handle-border: var(--handle);
}

.rangeSlider .rangeHandle:nth-of-type(1) {
  --handle: var(--handle1);
}

.rangeSlider .rangeHandle:nth-of-type(2) {
  --handle: var(--handle2);
}

.rangeSlider .rangeHandle:nth-of-type(3) {
  --handle: var(--handle3);
}

.rangeSlider .rangeHandle:nth-of-type(4) {
  --handle: var(--handle4);
}

/* Shared Slider Styles (Continued) */
#slider-container .rangeSlider {
  height: 3px;
}

.rangeSlider {
  .rangeNub {
    opacity: 0.5;
  }

  &.focus,
  &:hover {
    .rangeNub {
      opacity: 0.75;
    }
  }

  .rangeHandle.active {
    .rangeNub {
      opacity: 1;
    }
  }
}

#slider-container .rangeSlider .rangeFloat {
  opacity: 0.5;
  background: transparent;
}

#slider2,
#slider3 {
  .rangeHandle {
    width: 15px;
    height: 15px;
    top: 1px;

    .rangeNub {
      opacity: 1;
    }
  }
}

/* Pips Styling */
#slider-container .rangeSlider .pip {
  height: 4px;
  font-weight: 200;

  &.selected .pipVal {
    font-weight: 300;
  }

  .pipVal {
    display: none;
    font-size: 12px;
    top: 8px;
  }
}

#slider-container .rangeSlider .pip:nth-child(5n+1) {
  height: 8px;

  &.selected {
    height: 12px;

    .pipVal {
      top: 12px;
    }
  }

  .pipVal {
    display: block;
  }
}

#slider-container .rangeSlider .rangeBar {
  height: 3px;
  background: linear-gradient(90deg, var(--handle1), var(--handle1) 25%, var(--handle2) 75%, var(--handle2));
}

#slider3 .rangeSlider .rangeBar {
  background: linear-gradient(90deg, var(--handle3), var(--handle3) 25%, var(--handle4) 75%, var(--handle4));
}

/* Slider3 Styling */
#slider3 .rangeSlider .rangeHandle:nth-of-type(1) {
  --handle: var(--handle3);
}

#slider3 .rangeSlider .rangeHandle:nth-of-type(2) {
  --handle: var(--handle4);
}

/* Other Styles */
input {
  appearance: textfield;
  -moz-appearance: textfield;
  font-size: 12px;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 3px;
  border-radius: 3px;
  color: #ffffff88;
}

label {
  font-size: 12px;
  color: black;
}

/* App Styling */
body {
  --bg: #333844;
  color: white;
  background: var(--bg);
  text-align: center;
}

/* Miscellaneous Styling */
.s21,
.s22,
.s23,
.s24 {
  width: 45px;
  position: absolute;
  left: 0;
  top: 15px,
  //top: -10px;
}

.s22,
.s24, {
  top: 45px;
}

h1,
h2 {
  margin: 5px 0;
}

#slider-container {
  margin-top: 90px;
}

.s1btn {
  font-size: 13px;
  position: absolute;
  transform: translate(-50%, 50px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.3) 100%);
  color: rgba(255, 255, 255, 0.6);
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

p {
  margin: 5px 0;
}

a {
  color: coral;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  transition: all 2s ease;
}

a:hover {
  border-color: inherit;
  color: #50ffc6;
  transition: all .2s ease;
}

/* Media Query */
@media (max-width: 639px) {
  #slider-container {
    flex-direction: column;
    height: auto;
  }

  #slider2,
  #slider3 {
    max-width: none;
    padding: 0 20px 0 70px;
    align-items: normal;
  }
}
