
@use '../util'as *;

/* slider colorings overrides
/* ****************************** */


#app .rangeSlider {
  z-index: 2000;
  --range-slider:          #646c7c;
  --handle-border:   var(--handle);
  --range-inactive:  var(--handle-focus);
  --range:           var(--handle-focus);
  --float-inactive:  var(--handle-focus);
  --float:           var(--handle-focus);
  --float-text:        white;
  --pip-active:        white;
  --pip-active-text:   var(--pip-active);
  
  --handle1: #00cfff;
  --handle3: #ff2b66;
  --handle2: #3edd8b;
  --handle4: #f5d556;
  
}

/* slider handle color overrides
/* ****************************** */

.rangeSlider .rangeHandle {
  --handle-focus: var(--handle);
  --handle-inactive: var(--handle);
  --handle-border: var(--handle);
}

.rangeSlider .rangeHandle:nth-of-type(1) {
  --handle: var(--handle1);
}
.rangeSlider .rangeHandle:nth-of-type(2) {
  --handle: var(--handle2);
}
.rangeSlider .rangeHandle:nth-of-type(3) {
  --handle: var(--handle3);
}
.rangeSlider .rangeHandle:nth-of-type(4) {
  --handle: var(--handle4);
}

/* shared slider styles
/* ****************************** */

#app .rangeSlider {
  height: 3px;
}
.rangeSlider {
  .rangeNub {
    opacity: 0.5;
  }
  &.focus,
  &:hover { 
    .rangeNub {
      opacity: 0.75;
    }
  }
  .rangeHandle.active {
    .rangeNub {
      opacity: 1;
    }
  }
}
#app .rangeSlider .rangeFloat {
  opacity: 0.5;
  background: transparent;
}
#app .rangeSlider.focus .rangeFloat {
  opacity: 1;
}

/* first slider styling
/* ****************************** */

#slider {
  .rangeHandle {
    width: 20px;
    height: 13px;
    top: 1px;
    .rangeNub {
      border-radius: 4px;
    }
  }
}

/* second slider styling
/* ****************************** */

#slider2 {
  .rangeHandle {
    width: 15px;
    height: 15px;
    top: 1px;
    .rangeNub {
      opacity: 1;
    }
  }
}

/* pips under sliders styling
/* ****************************** */

#app .rangeSlider .pip {
  height: 4px;
  font-weight: 200;
  &.selected .pipVal {
    font-weight: 300;
  }
  .pipVal {
    display: none;
    font-size: 12px;
    top: 8px;
  }
}

#app .rangeSlider .pip:nth-child(5n+1) {
  height: 8px;
  &.selected {
    height: 12px;
    .pipVal {
      top: 12px;
    }
  }
  .pipVal {
    display: block;
  }
}

#app .rangeSlider .rangeBar {
  height: 3px;
  background: linear-gradient(90deg, var(--handle1), var(--handle1) 25%, var(--handle2) 75%, var(--handle2) );
}

#app .rangePips .pip,
#app .rangePips .pipVal {
 transition: all .66s ease-out;
}
#app .rangePips .pip.selected,
#app .rangePips .pip.selected .pipVal {
 transition: none;
}
#app .range .rangePips .pip.selected,
#app .range .rangePips .pip.selected .pipVal {
 transition: all 0.15s ease;
}











/* misc styling
/* ***************** */

#slider,
#slider2 {
  position: relative;
  max-width: 640px;
  margin: 20px auto 140px;
  padding:  0 80px;
}

input {
  appearance: textfield;
  -moz-appearance: textfield;
  border: none;
  background: rgba(0,0,0,0.2);
  padding: 5px 5px;
  border-radius: 3px;
  color: #ffffff88;
}

.s21,
.s22 {
  width: 50px;
  position: absolute;
  left: 0;
  top: -10px;
}
.s22 {
  right: 0;
  left: auto;
}

/* app styling
/* ***************** */

body {
  --bg: #333844;
  color: white;
  background: var(--bg);
  font-family: "Heebo", sans-serif;
  text-align: center;
}

h1, h2 {
  margin: 5px 0;
}

#app {
  margin-top: 90px;
}

.s1btn {
  font-size: 13px;
  position: absolute;
  transform: translate(-50%, 50px);
  border: 1px solid rgba(255,255,255,0.1);
  background: linear-gradient( 180deg, rgba(0,0,0,0.2) 0%,  rgba(0,0,0,0.3) 100% );
  color: rgba(255,255,255,0.6);
  padding: 6px 12px;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

p {
  margin: 5px 0;
}

a {
  color: coral;
  text-decoration: none;
  border-bottom: 1px dotted transparent;
  transition: all 2s ease;
}
a:hover {
  border-color: inherit;
  color: #50ffc6;
  transition: all .2s ease;
}