@use '../util'as *;
.container {
  display: flex;

  .left-panel,
  .right-panel {
      flex: 1;
      padding: 10px;
  }

  @media (max-width: 768px) {
      flex-direction: column;
  }
}

.tab_places{
    display: flex;
    right: 0;
    position: fixed;
    flex-direction: column; /* Align items vertically */
    align-items: center; /* Center items horizontally */
    margin-top: rem(15);
    width:17vw;
    height: 100vh;
    background: var(--card-bg);
    color: var(--text-color2);
    text-align: center;
    padding: rem(20);
    border-radius: rem(5);
    transition: backbround 150ms ease-in-out;
    cursor: pointer;
    
   &__icon{
    img {
        max-width: 90%; /* Set the width of the image */
        height: auto;}
   
    }

    &__label{
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(20);
        font-weight: 600;
        margin-top: rem(20);
        margin-bottom: rem(30);
        text-transform: uppercase;
        color: var(--text-color2);
        letter-spacing: rem(1);
}

    /*&__description {
        color: var(--text-color1);
        font-weight: 300;
        text-align: justify;
    }

    &__count {
        color: var(--dark-text);
        font-size: rem(12);
        margin-top: rem(20);
    }
   } */


// Define button sizes
$button-sizes: (
  'small': (padding-y: 5px, padding-x: 2px, font-size: 12px, border-radius: 3px),
  'medium': (padding-y: 8px, padding-x: 3px, font-size: 14px, border-radius: 5px),
  'large': (padding-y: 10px, padding-x: 10px, font-size: 16px, border-radius: 7px),
  'xlarge': (padding-y: 15px, padding-x: 10px, font-size: 18px, border-radius: 7px)
);

// Mixin for applying button size
@mixin apply-button-size($padding-y, $padding-x, $font-size, $border-radius) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

// Mixin for breakpoints
@mixin breakpoint($size) {
  @media (min-width: map-get($breakpoints-up, $size)) {
    @content;
  }
}

@mixin breakpoint-down($size) {
  @media (max-width: map-get($breakpoints-down, $size)) {
    @content;
  }
}

// Mixin for applying button size from the map
@mixin button-size($size) {
  $size-props: map-get($button-sizes, $size);
  @include apply-button-size($size-props...);
}

// Apply button size based on screen size
.entity-button {

  background-color:var(--entity-button);
  color: var(--entity-button-font);
  border-color: var(--entity-button);

  

  @include button-size('medium'); // Default size for medium screens
  @include breakpoint-down('small') {
    @include button-size('small'); // Adjust size for small screens
  }
  @include breakpoint('large') {
    @include button-size('large'); // Adjust size for large screens
  }
  @include breakpoint('xlarge') {
    @include button-size('xlarge');

  }
    &:hover {
      background-color: var(--entity-button-hover);
      border-color: var(--entity-button-hover);
      color: var(--entity-button-font-hover);

//from 550px downwards - tab element shouldn't be shown; other layout strategy


}
}}

 
   


