@use '../util' as *;

.cards {
    margin-top: 130px; // Default margin-top value
    display: grid; 
    grid-template-columns: 1fr;
    gap: rem(30);

    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include breakpoint(large) {
        grid-template-columns: repeat(4, 1fr);
    }
}

.card {
    position: relative;
    overflow: hidden;
    background: var(--card-bg);
    color: var(--text-color2);
    text-align: center;
    padding: rem(20);
    border-radius: rem(5);
    transition: background 150ms ease-in-out;
    cursor: pointer;

    &:hover {
        background: var(--card-hover);
    }

    &--places {
        border-top: rem(5) solid var(--limegreen);
    }

    &--actors {
        border-top: rem(5) solid var(--pink);
    }

    &--events {
        border-top: rem(5) solid var(--facebook);
    }

    &--artifacts {
        border-top: rem(5) solid var(--light-orange);
    }

    &--sources {
        border-top: rem(5) solid var(--reddish-brown);
    }

    &--references {
        border-top: rem(5) solid var(--dark-top-bg);
    }

    &__icon img {
        max-width: 70%;
        height: auto;
    }

    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: rem(20);
        font-weight: 600;
        margin-bottom: rem(15);
        text-transform: uppercase;
        color: var(--text-color2);
        letter-spacing: rem(1);
    }

    &__description {
        color: var(--text-color1);
        font-weight: 300;
        text-align: justify;
    }

    &__count {
        color: var(--dark-text);
        font-size: rem(12);
        margin-top: rem(20);
    }
}
