@use '../util'as *; /*to use mixins etc*/

.background-container {
  background-image: url('/images/Blank_map_of_Europe_central_network.png');
  opacity: 0.5;
  background-size: cover; /* Adjusts the size of the background image */
  background-position: center; /* Centers the background image horizontally and vertically */
  width: 100%; /* Ensures the container spans the width of its parent element */
  min-height: 1000px; /* Adjusts the height of the container */
  position: relative; /* Positions the container relative to its parent */
}

// Add additional styles or nested selectors if needed */
.background-overlay {
  position: absolute;
  opacity: 0.6;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(-50%, -50%); /* Center the element precisely */
}

/* Adjust the size of the overlay image as needed */
.background-overlay img {
  max-width: 100%; /* Ensure the image does not exceed the container width */
  max-height: 100%; /* Ensure the image does not exceed the container height */
}
