@use '../util'as *;

.cards_home {//also possible make a card-grid or whatever class and define flexbox in layout scss for breakpoints#
    position: absolute; /* Position the cards_home section */
    top: rem(650);
    left: rem(50); /* Align it to the left of the parent container */
    display: none; // Initially hide the cards_home section
}

#counters:hover ~ .cards_home {
    display: grid; 
    grid-template-columns: 1fr;
    //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    gap: rem(30);


    @include breakpoint(medium) {
        grid-template-columns: repeat(2, 1fr);
    
        //flex-direction: row;

    @include breakpoint (large) {
        //display: flex;
    //flex-direction: column;
    //flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    }
       
}
}


.card_home{
    //flex: 1;
    position: relative;
    overflow: hidden;
    background: var(--card-bg);
    color: var(--text-color2);
    //width: rem(255); //Figma Thanados 310 will be too wide I guess
    text-align: center;
    padding: rem(20);
    border-radius: rem(5);
    transition: backbround 150ms ease-in-out;
    cursor: pointer;

    

    &--places{
        border-top: rem(5) solid var(--limegreen);

    }

    &--actors{
        border-top: rem(5) solid var(--pink);

    }

    &--events{
        border-top: rem(5) solid var(--facebook);

    }

    &--artifacts{
        border-top: rem(5) solid var(--light-orange);

    }

    &--sources{
        border-top: rem(5) solid var(--reddish-brown);

    }

    &--references{
        border-top: rem(5) solid var(--dark-top-bg);

    }


   &__icon{
    img {
        max-width: 70%; /* Set the width of the image */
        height: auto;}
   
    &--places{
   

    }

    &--actors{
        
    }

    &--events{
        
    }

    &--artifacts{
        
    }

    &--sources{
        
    }

   }

&__top{

    }


&__label{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: rem (20);
    font-weight: 600;
    margin-bottom: rem(15);
    text-transform: uppercase;
    color: var(--text-color2);
    letter-spacing: rem(1);
}

    &--places {

    }

    &--actors{
        
    }

    &--events{
        
    }

    &--artifacts{
        
    }

    &--sources{
        
    }

&__description {
    color: var(--text-color1);
    font-weight: 300;
    text-align: justify;
}

&__count {
    color: var(--dark-text);
    font-size: rem(12);
    margin-top: rem(20);
}

   } 

