@use '../util' as *;

.container {
  padding: 0 rem(25);
  max-width: rem(1110); /* calculates rem from px from design */
  margin: 0 auto rem(46);

  @include breakpoint(large) {
    padding: 0; // Reset padding for large screens
  }
}
