:root {
  --limegreen: hsl(163, 72%, 41%);
  --brightred: hsl(356, 69%, 56%);
  --facebook: hsl(208, 92%, 53%);
  --light-orange: hsl(37, 97%, 70%);
  --pink: hsl(329, 70%, 58%);
  --reddish-brown: hsl(349, 19%, 29%);
  --toggle_bg_light: hsl(230, 22%, 74%);
  --toggle-bg-start: hsl(211, 28%, 28%);
  --toggle-bg-end: hsl(218, 52%, 96%);
  --toggle-light: hsl(230, 19%, 60%);
  --toggle-button-light: hsl(225, 3%, 70%);
  --toggle-bg-light: hsl(228, 9%, 89%);
  --dark-bg: hsl(228, 14%, 21%);
  --dark-top-bg: hsl(232, 19%, 15%);
  --dark-card: hsl(228, 7%, 43%);
  --dark-card-hover: hsl(230, 19%, 36%);
  --dark-text1: hsl(228, 3%, 66%);
  --dark-text2: hsl(0, 0%, 100%);
  --light-bg: hsl(0, 0%, 96%);
  --light-top-bg: hsl(225, 100%, 98%);
  --light-text1: hsl(0, 0%, 0%);
  --light-text2: hsl(230, 17%, 14%);
  --light-card: hsl(0, 0%, 85%);
  --light-card-hover: hsl(227, 33%, 91%);
  --entity-button: hsl(0, 0%, 89%);
  --entity-button-font: hsl(0, 0%, 59%);
  --entity-button-hover: hsl(0, 0%, 81%);
  --entity-button-font-hover: hsl(0, 24%, 96%);


  --toggle: var(--toggle-light);
  --background: var(--light-bg);
  --text-color1: var(--light-text2);
  --text-color2: var(--light-text1);
  --card-bg: var(--light-card);
  --card-hover: var(--light-card-hover);

  --toggle-bg: var(--toggle-bg-light);
  --toggle-button: var(--toggle-button-light);
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--dark-bg);
    --text-color: var(--dark-text2);
    --text-color2: var(--dark-text1);
    --card-hover: var(--dark-card-hover);
    --card-bg: var(--dark-card);
    --toggle: var(--light-bg);
    --toggle-bg: linear-gradient(
                    225deg,
                    var(--toggle-bg-end) 0%,
                    var(--toggle-bg-start) 98.02%
    );
    --toggle-button: var(--dark-bg);
  }
}


body.light {
  --toggle-bg: linear-gradient(
                  225deg,
                  var(--toggle-bg-end) 0%,
                  var(--toggle-bg-start) 98.02%
  );
  --background: var(--light-bg);
  --text-color2: var(--light-text1);
  --text-color: var(--light-text2);
  --card-bg: var(--light-card);
  --card-hover: var(--light-card-hover);
  --toggle: var(--toggle-light);
  --toggle-bg: linear-gradient(
                  225deg,
                  var(--toggle-bg-end) 0%,
                  var(--toggle-bg-start) 98.02%
  );
  --toggle-button: var(--toggle-button-light);
  
}


body.dark {
  --background: var(--dark-bg);
  --text-color: var(--dark-text2);
  --text-color2: var(--dark-text1);
  --card-bg: var(--dark-card);
  --card-hover: var(--dark-card-hover);
  --toggle: var(--light-bg);
  --toggle-bg: linear-gradient(
                  225deg,
                  var(--toggle-bg-end) 0%,
                  var(--toggle-bg-start) 98.02%
  );
  --toggle-button: var(--dark-bg);
}
