@use '../util'as *; /*to use mixins etc*/

.container {
  padding: 0;
  max-width: rem(1110); /*calculates rem from px from design*/
  margin: 0 auto rem(46);

  @include breakpoint(large) {
    padding: 0;

    @include breakpoint(medium) {
      padding: 0;
    }
  }


}

